


@media only screen and (max-width: 953px){
  .illustration-intro, .illustration-description {
    order: -1;
    justify-self: center;
  }
  // intro
  .fylo-intro {
    h2 {
      align-self: center;
      text-align: center;
      max-width: 80%;

    }
    p {
      align-self: center;
      text-align: center;
      max-width: 60%;
    }
  }
  .call-to-action-intro {
    flex-direction: column;
    input {
      width: 60%;
      margin-right: 0px;
      margin-bottom: 30px;
      padding: 11.2px 20px;
    }
    button {
      width: 60%;
      padding: 14.55px 0;
    }
  }


  // description
  .fylo-description {
    align-items: center;
    h2 {
      text-align: center;
      max-width: 100%;
    }
    p {
      max-width: 100%;
    }
  }

  //access 
  .fylo-access-grid {
    justify-content: center;
    p {
      text-align: center;
    }
  }
  .access {
    align-items: center;
  }

  .call-to-action-access {
    align-items: center;
    input {
      width: 60%;
      margin-bottom: 30px;
      padding: 11.2px;
    }
    .button-access{
      width: 60%;
      align-self: center;
      padding: 14.55px 0;
    }
  }
}


@media only screen and (max-width: 550px){

  .header { 
    padding-left: 30px;
    padding-right: 30px;
    ul li a {
      font-size: 0.7em;
      padding: 5px 0;
    }
    gap: 40px;
    ul {
      gap: 10px;
    }
  }

  .title {
    font-size: 1.2em;
  }
  .paragraph {
    font-size: 0.9em;
  }

  .button {
    font-size: 0.6em !important;
  }
  .input  {
    font-size: 0.6em;
  }

  .fylo-intro-grid, .fylo-description-grid, .fylo-access-grid{
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;
  }

  .fylo-intro{
    h2 {
      max-width: 80% !important;
    }
    p {
      max-width: 80% !important;
    }
  }

  .call-to-action-intro {
    input {
      width: 70%;
      margin-bottom: 15px;
    }
    button{
      width: 70%;
    }
  }

  // Access 

  .fylo-access-grid {
    grid-gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    h2 {
      font-size: 1.1em;
    }
    p {
      max-width: 70%;
      font-size: 0.8em;
    }
  }


 // Description

  .fylo-description-bg {
    .desktop-bg-curve {
      display: none;
    }
  }
  .mobile-bg-curve {
    display: block;
    width: 100%;
    position: relative;
    bottom: 100px; 
    height: 100px;
  }

  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}



